{%  extends "EsordeckmakerBundle::layout.html.twig" %}

{% block title %}
    Ajouter une carte - {{ parent() }}
{% endblock %}


{% block esor_test_body %}

    <h2>Ajouter une carte</h2>

    {{ include("EsordeckmakerBundle:deckmaker:FormAdd.html.twig")}}

    <p>
        Vous créez une carte .
    </p>

    <p>
        <a href="{{ path('esordeckmaker_homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'acceuil
        </a>
    </p>

{% endblock %}