<?php
/**
 * Created by PhpStorm.
 * User: erwan
 * Date: 18/04/17
 * Time: 12:33
 */

        {# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title> Affichage</title>
</head>
<body>
<h1>Hello World !</h1>

<p>

</p>
</body>
</html>
